@use "src/styles/mixins";

.large {
  @include mixins.text(
    var(--font-size-xxl),
    var(--font-weight-bold),
    var(--line-height-l)
  );
}

.h1 {
  @include mixins.text(
    var(--font-size-xl),
    var(--font-weight-bold),
    var(--line-height-l)
  );
}

.h2 {
  @include mixins.text(
    var(--font-size-l),
    var(--font-weight-bold),
    var(--line-height-m)
  );
}

.h3 {
  @include mixins.text(
    var(--font-size-m),
    var(--font-weight-bold),
    var(--line-height-m)
  );
}

.body1 {
  @include mixins.text(
    var(--font-size-s),
    var(--font-weight-regular),
    var(--line-height-m)
  );
}

.body2 {
  @include mixins.text(
    var(--font-size-s),
    var(--font-weight-regular),
    var(--line-height-m)
  );
}

.subtitle1 {
  @include mixins.text(
    var(--font-size-m),
    var(--font-weight-bold),
    var(--line-height-m)
  );
}

.subtitle2 {
  @include mixins.text(
    var(--font-size-s),
    var(--font-weight-bold),
    var(--line-height-m)
  );
}

.caption {
  @include mixins.text(
    var(--font-size-xs),
    var(--font-weight-regular),
    var(--line-height-s)
  );
}

.overline {
  @include mixins.text(
    var(--font-size-xs),
    var(--font-weight-bold),
    var(--line-height-s)
  );
}

.link1 {
  @include mixins.text(
    var(--font-size-s),
    var(--font-weight-regular),
    var(--line-height-m)
  );

  text-decoration: underline;
}

.link2 {
  @include mixins.text(
    var(--font-size-xs),
    var(--font-weight-regular),
    var(--line-height-s)
  );

  text-decoration: underline;
}

.errorMessage {
  color: var(--color-danger-300);
}

.secondary {
  color: var(--color-dark-100);
}
